@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    .cabecalho img{
        width: 150px;
    }
    #menu-hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
    }
    .menu a:hover{
        font-size: 20px;
        text-decoration: none;
    }
    .principal{
        background-attachment: fixed;
    }
    .centralizadora{
        justify-content: space-around;
    }
    .quem-somos{
        height: 900px;
        font-size: 20px;
        padding: 64px;
    }
    .quem-somos-texto{
        gap: 32px;
    }
    .quem-somos h2{
        font-size: 32px;
    }
    .quem-somos img{
        width: 450px;
    }
    .saiba-mais{
        width: 150px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 32px;
    }
    .algumas-opcoes{
        height: 500px;
    }
    .algumas-opcoes-titulo{
        font-size: 32px;
    }
    .container-slides{
        width: 450px;
        height: 300px;
    }
    .slides{
        height: 300px;
    }
    .slide img{
        width: 450px;
    }
    .manual-navigation{
        width: 450px;
    }
    .navigation-auto{
        width: 450px;
        margin-top: 260px;
    }
}
@media screen and (min-width: 992px){
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .cabecalho img{
        width: 150px;
    }
    #menu-hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
        width: 400px;
    }
    .menu a:hover{
        font-size: 20px;
        text-decoration: none;
    }
    .principal{
        height: 900px;
        border: 1px solid black;
        background-attachment: fixed;
    }
    .texto-principal{
        width: 60vw;
        margin: 400px auto 0;
        font-size: 32px;
    }
    .pedir-agora{
        width: 120px;
        font-size: 20px;
    }
    .centralizadora{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
    }
    .quem-somos{
        padding: 48px 0px;
        height: 700px;
    }
    .quem-somos-texto{
        width: 500px;
        height: 300px;
        order: 1;
        gap: 32px;
    }
    .quem-somos h2{
        font-size: 48px;
    }
    .quem-somos img{
        width: 500px;
    }
    .saiba-mais{
        font-size: 24px;
        width: 250px;
        height: 60px;
    }
    .algumas-opcoes{
        height: 650px;
    }
    .algumas-opcoes-titulo{
        font-size: 48px;
    }
    .container-slides{
        width: 800px;
        height: 500px;
    }
    .slides{
        height: 500px;
    }
    .slide img{
        width: 800px;
    }
    .manual-navigation{
        width: 800px;
    }
    .navigation-auto{
        width: 800px;
        margin-top: 460px;
    }
    .formulario{
        width: 1200px;
    }
    input{
        font-size: 16px;
    }
}
