@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    .cabecalho img{
        width: 150px;
    }
    #menu-hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
    }
    .menu a:hover{
        font-size: 20px;
        text-decoration: none;
    }
    .principal{
        background-attachment: fixed;
    }
    .quem-somos{
        align-items: center;
        justify-content: space-evenly;
        height: 900px;
        border: 1px solid black;
        font-size: 20px;
    }
    .quem-somos-texto{
        gap: 32px;
    }
    .quem-somos img{
        width: 450px;
    }
    .saiba-mais{
        width: 150px;
        height: 40px;
        font-size: 20px;
    }
}
@media screen and (min-width: 992px){
    .cabecalho{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .cabecalho img{
        width: 150px;
    }
    #menu-hamburguer{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: row;
        width: 400px;
    }
    .menu a:hover{
        font-size: 20px;
        text-decoration: none;
    }
    .principal{
        height: 900px;
        border: 1px solid black;
        background-attachment: fixed;
    }
    .texto-principal{
        width: 60vw;
        margin: 400px auto 0;
        font-size: 32px;
    }
    .pedir-agora{
        width: 120px;
        font-size: 20px;
    }
}